.App {
  background: #fff;
}

:where(.css-dev-only-do-not-override-1ij74fp).ant-upload-wrapper
  .ant-upload-drag {
  height: auto !important;
  margin-top: 1.5rem;
}

.black {
  .ant-select-selector {
    background-color: #000 !important;
    color: #fff !important;

    * {
      color: #fff !important;
    }
  }
}

:where(.css-dev-only-do-not-override-1ij74fp).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: #fff !important;
}
